/* Global Styles */
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

i {
    font-size: 1rem;
    color: black;
}
/* End of global styles */

/* Nav bar */

nav {
    
}

.nav-link {
    font-size: 1rem;
}

nav i {
    font-size: 1.5rem;
}

/* End of nav bar */



/* Main content start */

.main-content {
    height: 100vh;
}

.main-img {
    display: flex;
}