/* Global Styles */
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
   
}

html {
    scroll-behavior: smooth;
}
/* End of global styles */

/* Nav bar */

nav {
    
}

.nav-link {
    font-size: 1.25rem;
}

/* End of nav bar */



/* Main content start */

/* Mobile styles */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {.main-content h1, h2, h3 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
} .mobile-only .social-links{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}.main-buttons {
    display: flex;
    justify-content: center;
} .main-content {
    display: flex;
    flex-direction: column-reverse;
} .desktop-only {
    display: none;
} .social-links a {
    padding: 4px;
}
/* End of first section */
 .about {
     display: flex;
     flex-direction: column-reverse;
 }
 /* End of about section */
 .project-1 {
     display: flex;
     flex-direction: column-reverse;
 } .project-1-text p {
     display: flex;
     justify-content: center;
 } .project-2 {
     display: flex;
     flex-direction: column;
 }.project-2-text p {
     display: flex;
     justify-content: center;
 }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {.main-content {
   border: 1px solid black;
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
} .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
} .main-text h2, h3 {
    font-size: 2.5rem;
} .social-links {
    font-size: 2rem;
} .main-image {
    display: flex;
    justify-content: center;
} .desktop-only {display: none;
}

/* End of first section */
 
/* Projects */

.project-1 {
    display: flex;
    flex-direction: column-reverse;
} .project-1-text p {
    display: flex;
    justify-content: center;
} .project-2-text p {
    display: flex;
    justify-content: center;
}
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {.desktop-only {
    display: none;
} .about {
    display: flex;
}}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {.main-content {
   display: flex;
   flex-direction: row;
   height: 60vh;
}.main-text h1 {
    font-size: 3rem;
} .main-text h2{
    font-size: 2.5rem;
} .mobile-only {display: none;
} .desktop-only {
    display: block;
}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {.main-text h1,h2,h3 {
    font-size: 3.85rem;
}.main-image {
    height: 25rem;
}.main-content {
    height: 90vh;
}}


/* Mobile styles end */

/* Main content end */

/* About me and Skills section */

/* About me and skills section end */

/* Projects section */

/* Projects section start */


/* test stuff */

